<!-- <header class="main-header">
    <div class="main-header-box">
        <div class="header-avatar">
            <img class="img-responsive center-block" src="<%- url_for(theme.avatar.img) %>" alt="头像">
        </div>
        <div class="main-header-title">
            <span><%= theme.branding %></span>
        </div>
    </div>
</header> -->